{%- if section.settings.blog != blank -%}
	{%- assign blog = blogs[section.settings.blog] -%}        
{%- endif -%}
{%- assign limt = section.settings.pagination_limit -%}
{% paginate blog.articles by limt %}
<div class="event_list_wrap {% if template contains 'blog.journal' or template contains 'blog.edits' %}journal_list{% endif %}{% if section.settings.blog == blank %} default_blog{% endif %}">
  <div class="section-header text-center mb0 {% if template contains 'blog.journal' or template contains 'blog.event' or template contains 'blog.edits' %}header_nobg{% else %}header_btm_yellow{% endif %}">
   {%- if section.settings.sub_title != blank -%} <h3 class="h4 s-subtitle">{{section.settings.sub_title}}</h3>{%- endif -%}
    <div class="title_outer {{ section.settings.title | default:'blank' | handleize }}">
    <h2 class="h3 s-title wc_s-title">
      <span class="inner_warpper {{ section.settings.title | default:'blank' | handleize }} ">{{section.settings.title | default : blog.title }}</span>
    </h2>
    </div>
  </div>
  <div class="event_list_midle">
    <div class="page-width">
      <div class="country-parent country-parent-two d-flex grid grid--no-gutters flex-wrap" id="AjaxinateContainerevent">        
      {%- for article in blog.articles -%}
        <div class="inner-vector flex-wrap medium-up--one-third one-half" {{ block.shopify_attributes }}>
          <div class="vector_div vector_warpper">
            <div class="vector_img vector_img_event">
              <a href="{{ article.url }}">
              {%- comment -%}
              <img class="lazyload" src="{{ article.image | img_url:'x100'}}" data-src="{{ article.image | img_url:'x500'}}" alt="{{ block.settings.title | default:"Vector" }} Image" width="auto" height="auto" />              
              {%- endcomment -%}  
                {%- if article.image != blank -%}
                <div class="bg_img_event" data-bgset="{% include 'bgset', image: article.image %}"
                     data-sizes="auto"
                     data-parent-fit="cover"
                     style="background-image: url('{{ article.image | img_url: '600x' }});">
                </div>  
                {%- endif -%}
              </a>
            </div>             
          </div>
          <div class="vector_div vector_warpper_detail">
            {%- if article.title != blank -%}
            <h5 class="detail_title"><a href="{{ article.url }}">{{ article.title }}</a></h5>
            {%- endif -%}
            <ul class="detail_platda d-flex justify-content-between align-items-center">
              <li class="pl_at">                
                {%- if section.settings.enable_type != blank -%}
                {%- if template contains 'blog.event' -%}
                <div class="d_place">Events 
                  {% if article.tags.size > 0 %} |{% endif %}
                </div>                
                {%- endif -%}
                <div class="d_artist">
                  {%- for tag in article.tags limit: 1 -%}
                  {{tag | split:'_' | last}}
                  {%- endfor -%}
                </div>
                {%- endif -%}
              </li>
              {%- if section.settings.enable_date != blank  -%}
              <li class="d_da">{{ article.published_at  | date: "%d.%m.%y"  }}</li>
              {%- endif -%}
            </ul>
            
            {%- if article.excerpt.size > 0 -%}
            <p class="eventd_detail">
              {%- assign article_content = article.excerpt | strip_html | truncate: 197 -%}
              {{ article_content }}
            </p>
            {%- else -%}
            <p class="eventd_detail">
              {%- assign article_content = article.content | strip_html | truncate: 197 -%}
              {%- assign article_content = article_content | remove:'[replace_with_featured_image]' -%}
              {%- assign article_content = article_content | replace:'&nbsp;','' -%}
              {{ article_content }}
            </p>
            {%- endif -%}
            {%- if section.settings.enable_more_btn -%}
            <div class="blog_readmore" {{ blog.handle }} >
              {%- if blog.handle contains 'flim' or blog.handle contains 'film' -%}
              <a href="{{ article.url }}">Watch Now {%- include 'icon-plus' -%}</a>
              {%- else -%}
              <a href="{{ article.url }}">Read More {%- include 'icon-plus' -%}</a>
              {%- endif -%}
            </div>
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
      </div>
    </div>
    
    {%- if section.settings.show_page_load -%}    
    <div id="AjaxinatePaginationevent" class="page_load_div">
      {% if paginate.next %}
      <a href="{{ paginate.next.url }}" class="btn btn_frame">
        {%- if section.settings.load_more_btn_frame != blank -%}
        <img src="{{section.settings.load_more_btn_frame | img_url:'master'}}" class="frame_btn_img"/>
        {%- endif -%}
        {{section.settings.more_btn_label}}
      </a>
      {% endif %}
    </div>    
    {%- else -%}  
    {%- if paginate.pages > 1 -%}
    {%- include 'pagination', paginate: paginate -%}    
    {%- endif -%}
    {%- endif -%}
    
  </div>
      
</div>
{% endpaginate %}

{%- if section.settings.show_page_load -%}
<script defer="defer">
  document.addEventListener("DOMContentLoaded", function() {
      var endlessScroll = new Ajaxinate({
        container: '#AjaxinateContainerevent',
        pagination: '#AjaxinatePaginationevent',
        method: 'click',
        offset: 1000
      });
    });
  $(document).ready(function(){  
  })
</script>
<script defer="defer" src="{{ 'ajaxinate.js' | asset_url }}"></script>
{%- endif -%}
<script defer="defer">
  equalheight = function(container){

    var currentTallest = 0,
        currentRowStart = 0,
        rowDivs = new Array(),
        $el,
        topPosition = 0;
    $(container).each(function() {

      $el = $(this);
      $($el).height('auto')
      topPostion = $el.position().top;

      if (currentRowStart != topPostion) {
        for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
          rowDivs[currentDiv].height(currentTallest);
        }
        rowDivs.length = 0; // empty the array
        currentRowStart = topPostion;
        currentTallest = $el.height();
        rowDivs.push($el);
      } else {
        rowDivs.push($el);
        currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
      }
      for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
        rowDivs[currentDiv].height(currentTallest);
      }
    });
  }

  $(window).on('load resize',function() {
    equalheight('.country-parent-two .vector_warpper_detail');
  });

</script>