{%- assign collection_list = linklists[section.settings.list_custom_product].links -%}    
          {%- for collection in collection_list  -%}    
    		{%- assign collection_ = collection.url | split:'/collections/' | last -%}
    		{%- assign collection_ = collections[collection_] -%}
            {%- if collection.title contains 'Travel' or collection.title contains 'TRAVEL'  or collection.title contains 'travel' -%}
              {%- continue -%}
            {%- endif -%}    
    		{%- if collection_.image != blank -%}
            {%- include 'coll-banner', image : collection_.image,link:collection.url, title:collection.title -%}
    		{%- endif -%}
              {%- if collection.links != blank -%}
              {%- for child_coll in collection.links  -%}
                {%- assign coll = child_coll.url | split:'/collections/' | last -%}
                {%- assign coll = collections[coll] -%}
                {%- assign coll_count = coll.products_count | plus: 0 -%}    
                {%- if coll and coll_count > 0 -%}
                	{%- assign limit = coll.products_count-%}
                {%- if coll.products_count > 4 -%}
                	{%- assign limit = 4 -%}
                {%- endif -%}    
                {%- if collection_.image == blank -%}<div class="collection_title section-header hide"><h3 class="s-title wc_s-title s-not text-uppercase"><span class="inner_warpper">{{collection.title}}: {{child_coll.title}}</span></h3></div>{%- endif -%}
                <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}{% unless collection.url contains '/all' %} d-flex flex-wrap collection--grid{%- endunless -%} {% if coll.products_count > 4 %} extra-g-load{% endif%}" {% if coll.products_count > 4 %}id="AjaxinateContainer_{{ coll.id }}"{% endif%}>                
                  {%- for product in coll.products limit:limit -%}
                  <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">{%- include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor, collection: coll -%}</li>
                  {%- endfor -%}</ul>
                  {%- if coll.products_count > 4 -%}<div id="AjaxinatePagination_{{coll.id}}" class="page_load_div extra_p_load {% if coll_11_ %}hide{% endif %}"><a href="{{ coll.url }}" class="btn btn_frame"><img data-src="{{'frame_border.png' | asset_url }}" src="{{'frame_border.png' | asset_img_url:'100x' }}" class="frame_btn_img lazyload"/>See More</a></div>{%- endif -%}    
                {%- endif -%}
              {%- endfor -%}
              {%- endif -%}    
           {%- endfor -%}