{%- assign child_list_handle = link.title | handleize -%}
{%- comment -%}
  Check if third-level nav exists on each parent link.
{%- endcomment -%}
{%- assign three_level_nav = false -%}
{%- if link.links != blank -%}
    {%- if link.levels == 2 -%}
        {%- assign three_level_nav = true -%}
    {%- endif -%}
{%- endif -%}
{%- if link.links != blank -%}
    <li
            class="wc_menu_item has-dropdown has-sub-menu main-menu--{{ link.title | handleize }} {% if link.title contains 'travel' or link.title contains 'Travel' or link.title contains 'TRAVEL' %}menu-travel{% endif %}"> {{- -}}
        {{- -}}
        <div class="dropdown-wrapper">
        <{% if link.url == "#" %}span{% else %}a href="{{ link.url }}"{% endif %} class="site-nav__link site-nav__link--main site-nav__link--button{% if link.child_active %} site-nav__link--active_{% endif %}"
                                                                                  type="button" aria-expanded="false"
                                                                                  {%- if template contains 'index' 
                                                                                        or template contains 'page.travel' 
                                                                                        or template contains 'page.story' 
                                                                                        or template contains 'blog.event' 
                                                                                        or template contains 'blog.journal' 
                                                                                        or template contains 'product.travel' 
                                                                                        or template contains 'page.impact' -%}
                                                                                        style="color: {{ section.settings.color_text_header}}"
                                                                                  {%- endif -%}
                                                                                  aria-controls="SiteNavLabel-{{ child_list_handle }}"><span
                    class="site-nav__label">{{ link.title | escape }}</span>      </{% if link.url == "#" %}span{% else %}a{% endif %}><span
                    class="dropdown-btn d-lg-none mobile_arrow_btn">{% comment %}{%- include 'icon-plus' -%}{% endcomment %}</span>
        </div>
        <div class="site-nav__dropdown {{ section.settings.mm-bg-color }}" id="SiteNavLabel-{{ child_list_handle }}">
            <div class="page-width">
                <div class="about-shop-div d-flex flex-row justify-content-between">
                    <div class="child-link-div">{%- if three_level_nav -%}
                            <div class="site-nav__childlist">
                                <ul class="site-nav__childlist-grid"> {{- -}}
                                    {%- if link.links != blank -%}
                                        {%- for childlink in link.links -%}
                                            <li
                                                    class="site-nav__childlist-item has-sub-menu sub-menu--{{ childlink.title | handleize }}">
                                                <div class="dropdown-wrapper">
                                        <{% if childlink.url == "#" %}span{% else %}a href="{{ childlink.url }}"{% endif %} class="site-nav__link site-nav__child-link site-nav__link--button site-nav__child-link--parent"
                                                                                                                            role="button" {% if childlink.current %} aria-current="page"{% endif %} ><span
                                                    class="site-nav__label">{{ childlink.title | escape }}</span></{% if childlink.url == "#" %}span{% else %}a{% endif %}><span
                                                            class="dropdown-btn d-lg-none mobile_arrow_btn mobile_arrow_btn_child"></span>
                                                </div> {{- -}}
                                                {% if childlink.links != blank %}
                                                    <div class="childlist-item_wrapper">
                                                        <ul>{%- for grandchildlink in childlink.links -%}
                                                                <li><a href="{{ grandchildlink.url }}"
                                                                       class="site-nav__link site-nav__child-link" {% if grandchildlink.current %} aria-current="page"{% endif %}><span
                                                                                class="site-nav__label">{{- grandchildlink.title | escape -}}</span></a>
                                                                </li>  {{- -}}
                                                            {%- endfor -%}
                                                        </ul>{%- assign all_title-menu = link.title | downcase -%}{%- if all_title-menu contains "objects" -%}
                                                            <div class="shop_all"><a href="{{ childlink.url }}"
                                                                                     title="{{ childlink.title }}">{%- if request.page_type == 'index' -%}All{%- else -%}All{%- endif -%}</a>
                                                            </div>{%- endif -%}</div>{%- endif -%}</li> {{- -}}
                                        {%- endfor -%}
                                    {%- endif -%}


                                    {% comment %}SHOW ROOM LI{% endcomment %}
                                    {%- assign link_list_title = section.settings.link_list_title | handleize -%}
                                    {%- assign link_title = link.title | handleize -%}



                                    {% if link_list_title == link_title %}
                                        <li class="site-nav__childlist-item has-sub-menu sub-menu--{{ link_list_title }}"
                                            style="display: none">
                                            <div class="dropdown-wrapper">{%- if section.settings.showroom_subtitle != blank -%}
                                                <span class="site-nav__link site-nav__child-link site-nav__link--button site-nav__child-link--parent"
                                                      role="button"><span
                                                            class="site-nav__label">{{ section.settings.showroom_title | escape }}</span>
                                    </span>
                                            {%- else -%}<a href="{{ section.settings.showroom_title_link }}"
                                                           class="site-nav__link site-nav__child-link site-nav__link--button site-nav__child-link--parent"
                                                           type="button"><span
                                                        class="site-nav__label">{{ section.settings.showroom_title | escape }}</span>
                                            </a>{%- endif -%}<span
                                                        class="dropdown-btn d-lg-none mobile_arrow_btn mobile_arrow_btn_child"></span>
                                            </div>
                                            <div class="childlist-item_wrapper">{%- if section.settings.showroom_subtitle != blank -%}
                                                    <h4 class="s-subtitle fs-normal s-not"><a
                                                                href="{{ section.settings.showroom_title_link }}">{{ section.settings.showroom_subtitle | escape }}</a>
                                                    </h4>{%- endif -%}
                                                <div class="showroom_detail">{{- section.settings.showroom_detail | newline_to_br -}}</div>
                                            </div>
                                        </li> {{- -}}
                                    {%- endif -%}</ul>
                            </div> {{- -}}
                        {%- else -%}
                            <div class="site-nav__childlist site-nav__childlist_no_grandchild">
                                <ul class="site-nav__childlist-grid">{%- if link.links != blank -%}{%- for childlink in link.links -%}
                                        <li class="site-nav__childlist-item has-sub-menu"><a href="{{ childlink.url }}"
                                                                                             class="site-nav__link site-nav__child-link site-nav__link--button site-nav__child-link--parent"
                                                                                             type="button" {% if childlink.current %} aria-current="page"{% endif %} ><span
                                                        class="site-nav__label">{{ childlink.title | escape }}</span></a>
                                        </li>{%- endfor -%}
                                    {%- endif -%}</ul>
                            </div> {{- -}}
                        {%- endif -%}</div> {{- -}}
                    {{- -}}

                    {% comment %}-----------Right section----------------------{% endcomment %}
                    <div class="about-shop-part d-flex flex-row align-items-center">
                        <div class="wrapper d-flex">{%- if section.settings.about_shop_img != blank -%}
                                <div class="image"><img src="{{ section.settings.about_shop_img | img_url: '10x' }}"
                                                        data-src="{{ section.settings.about_shop_img | img_url: '' }}"
                                                        alt="{{ section.settings.about_shop_title }}" width="auto"
                                                        height="auto"
                                                        class="lazyload dark_img"/><img
                                            src="{{ section.settings.about_shop_img_white | img_url: '10x' }}"
                                            data-src="{{ section.settings.about_shop_img_white | img_url: '' }}"
                                            alt="{{ section.settings.about_shop_title }}" width="auto" height="auto"
                                            class="lazyload white_img"/></div>{%- endif -%}
                            <div class="detail base-font">
                                <div class="upper-wrapper">{%- if section.settings.about_shop_title != blank -%}<h5
                                            class="s-title s-not">{{ section.settings.about_shop_title }}</h5>{%- endif -%}{%- if section.settings.about_shop_subtitle != blank -%}
                                        <h6 class="s-subtitle s-not">{{ section.settings.about_shop_subtitle }}</h6>{%- endif -%}
                                </div>{%- if section.settings.about_shop_detail != blank -%}
                                <div class="down-wrapper">{{ section.settings.about_shop_detail }}</div>{%- endif -%}
                            </div>
                        </div>
                    </div>
                    {% comment %}-----------Right section----------------------{% endcomment %}


                </div>
            </div>
        </div>
    </li> {{- -}}
{%- else -%}
    <li class="wc_menu_item"><a href="{{ link.url }}"
                                style="color: {{section.settings.color_text_header}}"
                                class="site-nav__link site-nav__link--main {% if link.child_active %} site-nav__link--active_{% endif %}"><span
                    class="site-nav__label">{{ link.title | escape }}</span></a></li>{%- endif -%}
