{% comment %}
    Renders a product card using "Grid" style
    Accepts:
    - max_height: {Number} Maximum height of the product's image (required)
    - product: {Object} Product Liquid object (required)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}

{%- if product.images.size > 1 -%}
 {%- assign second_image = product.images[1] -%}
{%- else -%}
 {%- assign second_image = '' -%}
{%- endif -%}

<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card {% if second_image != blank %}second_img_enable{% endif %}">
  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}"></a>
  {%- capture img_id -%}ProductCardImage-{{ section.id }}-{{ product.id }}{%- endcapture -%}
  {%- capture wrapper_id -%}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{%- endcapture -%}
  {%- if product_img != blank -%}
  {%- assign preview_image = product_img -%}
  {%- else -%}
  {%- assign preview_image = product.featured_media.preview_image -%}
  {%- endif -%}  
  {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}  
  <div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper><div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js"><div class="first-img" style="padding-top:{% unless preview_image == blank %}{{ 1 | divided_by: preview_image.aspect_ratio | times: 100 }}%{% else %}100%{% endunless %};"><img id="{{ img_id }}" class="grid-view-item__image lazyload" alt="{{ preview_image.alt }}" data-src="{{ img_url }}" data-widths="[180, 360, 540]" data-aspectratio="{{ preview_image.aspect_ratio }}" data-sizes="auto" data-image width="auto" height="auto" /></div>      
      {%- if second_image != blank -%}<div class="img-two"><div class="second-img grid-view-item__image lazyload" data-bgset="{{ second_image | img_url:'542x'}}"></div></div>{%- endif -%}</div><div class="placeholder-background placeholder-background--animation" data-image-placeholder></div></div>
  <div class="info-hover-warpper">
    <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>
    {%- unless product.price < 1 -%}<div class="prodcut-info {%if product.description contains '[split_place-name]' %}d-flex show-pn justify-content-between align-item-center{% endif %} ">    
      {%- if product.description contains '[split_place-name]' -%}{%- assign place-name = product.description  | split: '[split_place-name]' | first -%}<div class="place-name d-flex"><div class="place">{{ place-name | split:'|' | first | strip_html }} | </div><div class="name"> {{ place-name | split:'|' | last | strip_html }}</div></div>
      {%- endif -%}{%- include 'product-price-listing', product: product, show_vendor: show_vendor -%}</div>{%- endunless -%}</div></div>
