{%- assign image-tiles = 0 -%}
<div class="template_section {% if section.settings.enable_background %}enble_bg{% endif %}">
  {%- if section.settings.title != blank -%}
  <div class="section-header text-center">    
    <h2 class="h2-large s-title wc_s-title cls_title_hidden wc_s-title_left"><span class="inner_warpper">{{ section.settings.title }}</span></h2>
  </div>{%- endif -%}
  
  {%- assign block_count = 0 -%}
  {%- for block in section.blocks -%}
  {%- if block.type == "blocks" and block_count < 1 -%}
  <div class="t-blocks_parent">
    {%- if section.settings.banner_image != blank -%}
    <div class="t-block-banner lazyload d-none" data-bgset="{{ section.settings.banner_image | img_url:'' }}"></div>{%- endif -%}
    <div class="inner_warpper">
      {%- for block in section.blocks -%}
      {%- if block.type == "blocks" and block_count < 1 -%}
      <div class="template-blocks t-blocks d-flex justify-content-between" {{ block.shopify_attributes }}>
        <div class="content_detail">
          {%- if template contains 'product.travel' -%}
          <div class="content_wrapper">{%- endif -%}
            <h3 class="block-title">{{ block.settings.title }}</h3>
            <p>{{ block.settings.detail }}</p>
          {%- if template contains 'product.travel' -%}</div>{%- endif -%}
        </div>
        <div class="content_img">
          {%- comment -%}
          <div class="img_lazy lazyload" data-bgset="{{ block.settings.image | img_url:'x400' }}" data-sizes="auto"
               data-parent-fit="cover"
               style="background-position: {{ block.settings.alignment }}; background-image: url('{{ block.settings.image | img_url: '300x300' }});" ></div>
          {%- endcomment -%}
          {%- if block.settings.video == blank -%}
          <div class="inner_div">
            	{%- if block.settings.color_splash -%}
            <div class="color_splash">
            	<img class="lazyload image_splash" data-src="{{ block.settings.image_splash | img_url:'300x' }}" alt="" width="auto" height="auto" />
            </div>
            	{%- endif -%}
          {%- endif -%}
            <img class="img_lazy lazyload" src="{{ block.settings.image | img_url:'x100' }}" data-src="{{ block.settings.image | img_url:'x400' }}" alt="{{ block.settings.title }} Image" width="auto" height="auto" />          
            {%- if block.settings.video != blank -%}
            <video class="vector_video" controls>
              <source src="{{block.settings.video}}" type="video/mp4">         
            </video>
            {%- endif -%}
            {%- if block.settings.location != blank or block.settings.artist_name != blank -%}
            <div class="additional_text font-bold secondary-font">
              {%- if block.settings.location != blank or block.settings.artist_name != blank -%}
              <p>Location : {{ block.settings.location }}</p>
              {%- endif -%}
              {%- if block.settings.location != blank or block.settings.artist_name != blank -%}
              <p>Artisan : {{ block.settings.artist_name }}</p>
              {%- endif -%}
            </div>
            {%- endif -%}
          {%- if block.settings.video == blank -%}
          </div>
          {%- endif -%}
          
        </div>
      </div>    
      {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
  {%- assign block_count = block_count | plus : 1 -%}
  	{%- endif -%}
  {%- if block.type == "banner" -%}
  <div class="t-blocks template-banner">
    <div class="img_lazy lazyload " data-bgset="{{ block.settings.image | img_url:'' }}" data-sizes="auto"
         data-parent-fit="cover"
         style="background-position: {{ block.settings.alignment }}; background-image: url('{{ block.settings.image | img_url: '300x300' }});" ></div>
  </div>
  {%- endif -%}
  {%- if block.type == "video" -%}
  <div class="t-blocks template-vedio wc_template-vedio {% if block.settings.oj_video_url contains 'vimeo.com' %}vimeo_video_player{% endif %}">
    <div class="template-vedio-wrapper wc_video_box video--height-{{ block.settings.img_height }}">
      <div class="img_lazy lazyload" data-bgset="{{ block.settings.image | img_url:'' }}" data-sizes="auto"
           data-parent-fit="cover"
           style="background-position: {{ block.settings.alignment }}; background-image: url('{{ block.settings.image | img_url: '300x300' }});"></div>
      <div class="play-btn hide" data-vedio-type="{% if block.settings.oj_video_url contains 'vimeo.com' %}vimeo{%else%}youtube{% endif %}">
        {%- include 'icon-play' -%}
      </div>      
      
      {% if block.settings.oj_video_url contains 'youtube.com/watch' %}
        {%- assign video_id = block.settings.oj_video_url | split: 'v=' -%}
        {%- assign video_id = video_id[1] | split: '&' | first -%}
      <iframe class="video video--image_with_play" src="https://www.youtube.com/embed/{{video_id}}?autoplay=0&loop=1&playlist={{video_id}}" 
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {% endif %}
      
      <!---------------------------------------------------- second ------------------------------------------------------->
      {% if block.settings.oj_video_url contains 'youtu.be/' %}
      {%- assign video_id = block.settings.oj_video_url | split: '.be/' -%}
      {%- assign video_id = video_id[1] | split: '&' | first -%}
      <iframe class="video video--image_with_play" src="https://www.youtube.com/embed/{{video_id}}?autoplay=0&loop=1&playlist={{video_id}}" 
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {% endif %}

      <!---------------------------------------------------------- third --------------------------------------------------------------->
      {% if block.settings.oj_video_url contains 'vimeo.com' %}
      {%- assign video_id = block.settings.oj_video_url | split: '.com/' -%}
      {%- assign video_id = video_id[1] | split: '/' | first -%}

      <iframe class="video video--image_with_play" src="https://player.vimeo.com/video/{{ video_id }}?controls=0&autoplay=0&loop=0&playlist={{ video_id }}&autopause=0" 
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" webkitallowfullscreen   mozallowfullscreen allowfullscreen></iframe>

      {% endif %}
      
      <div class="custom_player_div">
        <div class="progress_bar">
          <div class="total_pro"></div>
          <div class="pro-ing"></div>
        </div>
        <div class="pp-time_div">
          <div class="pp-time">
            <div class="paush-play" data-controls="Video-{{ section.id }}">
              <img class="playing-video play-btn-video" data-method="play" data-vedio-type="{% if block.settings.oj_video_url contains 'vimeo.com' %}vimeo{%else%}youtube{% endif %}" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgNzUuMSA4MC44IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA3NS4xIDgwLjg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7ZmlsbDpub25lO3N0cm9rZTojRkZGRkZGO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1taXRlcmxpbWl0OjEwO30KPC9zdHlsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxLDc5LjIgMSwxLjcgNzMsNDAuNCAiLz4KPC9zdmc+Cg==" alt="play" />
              <img class="paush-video" data-method="pause" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgNzQgNzkiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDc0IDc5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6bm9uZTtzdHJva2U6I0ZGRkZGRjtzdHJva2Utd2lkdGg6MjtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cjwvc3R5bGU+CjxnPgoJPGc+CgkJPHBhdGggY2xhc3M9InN0MCIgZD0iTTQ1LjIsMXY3N0g3M1YxSDQ1LjJ6IE0xLDc4aDI3LjhWMUgxVjc4eiIvPgoJPC9nPgo8L2c+Cjwvc3ZnPgo=" alt="pause" />
            </div>
            <div class="remaining-time">00:00</div>
          </div>
          <div class="total-time">
            <div class="tt-time"></div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  {%- endif -%}
  
  {%- if block.type == "image-tiles" and image-tiles == 0 -%}
  <div class="image-tiles-div d-flex flex-wrap">
    {%- for block in section.blocks -%}	
    {%- if block.type == "image-tiles" -%}
    <div class="image-tiles one-half">
      <div class="image-wrapper lazyload" data-bgset="{{ block.settings.image | img_url:'925x' }}" style="background-image: url({{ block.settings.image | img_url:'100x' }});"></div>
      <div class="text-wrapper">
        <h3 class="s-title">{{ block.settings.img_title }}</h3>
        <p>{{ block.settings.img_detail }}</p>
      </div>
    </div>
    {%- endif -%}
    {%- endfor -%}
  </div>
  {%- assign image-tiles = image-tiles | plus :1 -%}
  {%- endif -%}
  {%- endfor -%}
</div>