<div data-section-id="{{ section.id }}" data-section-type="home-grid-section-two" class="home-grid-section home-grid-section-two">
  <div class="page-width">
    <div class="grid grid--no-gutters">
      	{%- assign grid_grid = 'one-whole' -%}
      {%- if section.settings.subtitle != blank or section.settings.title != blank -%}
      	{%- assign title_grid = 'medium-up--four-tenths' -%}
      	{%- assign grid_grid = 'medium-up--five-tenths' -%}
      {%- endif -%}
      {%- if section.settings.subtitle != blank or section.settings.title != blank -%}<div class="title_grid grid__item {{ title_grid }}">
      {%- if section.settings.subtitle != blank -%}<h4 class="s-subtitle">{{- section.settings.subtitle -}}</h4>{%- endif -%}
      {%- if section.settings.title != blank -%}<h3 class="s-title">{{- section.settings.title -}}</h3>{%- endif -%}
      </div>{%- endif -%}
      <div class="grid_grid grid__item {{ grid_grid }}">
        <ul class="grid hgs-grid hgs-grid-slider">
          {%- for block in section.blocks -%}
          {%- if block.type == "text" -%}
          <li class="grid__item medium-up--one-third hgs-grid-items">
            <div class="wrapper">              
              {%- if block.settings.subtitle != blank -%}
              <h4 class="s-subtitle">{{ block.settings.subtitle }}</h4>
              {%- endif -%}{%- if block.settings.title != blank -%}
              <h3 class="s-title">{{- block.settings.title -}}</h3>{%- endif -%}{%- if block.settings.detail != blank -%}
              <div class="text">{{- block.settings.detail -}}</div>{%- endif -%}
              {%- if block.settings.link != blank -%}<a href="{{ block.settings.link }}" title="{{ block.settings.link_title }}" class="link_btn">{{- block.settings.link_title -}}</a>{%- endif -%}
            </div>
          </li>
          {%- endif -%}
          {%- endfor -%}
</ul> 
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Home Grid 2",
	"class":"index-section",
	"max_blocks":3,
    "settings": [
		{
		 "type":"text",
		 "id":"subtitle",
		 "label":"Enter Subtitle",
		 "default":"Sub title"
		},
		{
		 "type":"text",
		 "id":"title",
		 "label":"Enter title",
		 "default":"Title"
		}
	],
	"blocks":[
	 {
		"type":"text",
		"name":"Text Grid",
		"settings":[
		 {
			"type":"text",
			"id":"subtitle",
			"label":"Enter Subtitle"
		 },
		 {
			"type":"text",
			"id":"title",
			"label":"Enter title"
		 },
		 {
			"type":"textarea",
			"id":"detail",
			"label":"Enter detail"
		 },
		 {
			"type":"text",
			"id":"link_title",
			"label":"Enter Link label"
		 },
		 {
			"type":"url",
			"id":"link",
			"label":"Provide Link"
		 }
	   ]
	 }
	],
	"presets":[
	  {
      "name": "Home Grid 2",
      "category": "Text",
	  "blocks":[
		 { 
          "type": "text",
		   "settings":{
				"subtitle":"Explore our",
				"title":"TRAVEL",
				"detail":"Leading small groups of travelers to parts of the map where few tourists venture.",
				"link_title":"Explore",
				"link":"#"
			}
        },
		 { 
          "type": "text",
		   "settings":{
				"subtitle":"Shop our",
				"title":"OBJECTS",
				"detail":"Evolving craftsmanship with master artisans from Afghanistan to Mali.",
				"link_title":"Shop",
				"link":"#"
			}
        },
		 { 
          "type": "text",
		   "settings":{
				"subtitle":"Discover our",
				"title":"STORIES",
				"detail":"Telling stories rarely seen in the news through events, film and writing.",
				"link_title":"Discover",
				"link":"#"
			}
        }
	  ]
    }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
