<div class="home-banner" data-section-id="{{ section.id }}" data-section-type="home-banner">
  <div class="image_banner banner-height-medium lazyload" data-img-ratio="{{ section.settings.image.aspect_ratio }}"
         data-bgset="{% include 'bgset', image: section.settings.image %}"
         data-sizes="auto"
         data-parent-fit="cover"
         style="background-position: {{ section.settings.alignment }}; background-image: url('{{ section.settings.image | img_url: '300x300' }});"></div>  
  <div class="banner-caption text-alignment-{{ section.settings.text_postion }}">
    <div class="page-width">
      <div class="banner_warpper banner-font">
        {%- if section.settings.subtitle != blank -%}
        <h3 class="h2 b-subtitle">{{- section.settings.subtitle -}}</h2>{%- endif -%}
        {%- if section.settings.title != blank -%}
        <h2 class=" h1 b-title">{{- section.settings.title | remove:'<p>' | remove:'</p>' | replace:'em>','span>' -}}</h1>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Home Banner",
	"class":"index-section index-section--flush",
    "settings": [
		{
			"type":"image_picker",
			"id":"image",
			"label":"Upload Image"
		},
		{
			"type":"select",
			"id":"alignment",
			"label":"Select Image alignmnet",
			"default":"center",
			"options":[
				{
				  "value":"top center",
				  "label":"Top"
				},
				{
				  "value":"center",
				  "label":"Middle"
				},
				{
				  "value":"bottom center",
				  "label":"Bottom"
				}
			]
		},
		{
			"type":"text",
			"id":"subtitle",
			"label":"Enter Subtitle",
			"default":"Venture"
		},
		{
			"type":"richtext",
			"id":"title",
			"label":"Enter title",
			"default":"<p>Beyond <em>The</em> Headlines</p>"
		},
		{
			"type":"select",
			"id":"text_postion",
			"label":"Select Text Postion",
			"default":"left-bottom",
			"options":[
				{
				  "value":"left-bottom",
				  "label":"Left Bottom"
				},
				{
				  "value":"left-center",
				  "label":"Left Center"
				},
				{
				  "value":"center",
				  "label":"center"
				},
				{
				  "value":"center-bottom",
				  "label":"Center Bottom"
				}
			]
		}
	],
	"presets":[
		{
		"name":"Home Banner",
		"category":"Image"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
